body {
    /* Give it a galaxy background */
    background: url(./galaxy.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.container {
    /* Make it semi-transparent with some background blur */
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* Some rounded edges... */
    border-radius: 10px;
    /* Some padding... */
    padding: 20px;
    /* And a border... */
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* And set the width to 50% */
    width: 50%;
    /* Finally, center it */
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container button {
    background-color: #400040;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
}

div.container a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container button:hover {
    background-color: #5b005b;
    cursor: pointer;
}